:root {
  --white: #ffffff;
  --card-color: #f2f2f2;
  --fonts-color: #d9d9d9;
  --fonts-title: #111827;

  --color-font: #0d0d0d;
  --font-a: #1f2937;

  --shadow-card: #000;

  --loading: #00000290;

  --purple: #8284fa;
  --purple-dark: #5e60ce;

  --blue-dark: #0000ff;

  --alice-blue: #8dcaff;

  --blue: #1e6f9f;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 var(--alice-blue);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
