:root {
  --white: #ffffff;
  --gray-100: #f2f2f2;
  --fonts-color: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --background: #0d0d0d;

  --purple: #8284fa;
  --purple-dark: #5e60ce;

  --blue-dark: #0000ff;

  --alice-blue: #8dcaff;

  --blue: #1e6f9f;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 var(--alice-blue);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
